@model ImageServiceWeb.Models.SettingsModel

@{
    ViewBag.Title = "Config";
}

<h2>Configuration</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SettingsContainer.OutputDir)
        </th>
        <td>@Html.DisplayFor(model => model.SettingsContainer.OutputDir)</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SettingsContainer.SourceName)
        </th>
        <td>@Html.DisplayFor(model => model.SettingsContainer.SourceName)</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SettingsContainer.LogName)
        </th>
        <td>@Html.DisplayFor(model => model.SettingsContainer.LogName)</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SettingsContainer.ThumbnailSize)
        </th>
        <td>@Html.DisplayFor(model => model.SettingsContainer.ThumbnailSize)</td>
    </tr>
</table>

<table class="table">
    <tr>
        <th> @Html.DisplayNameFor(model => model.SettingsContainer.Handlers)</th>
    </tr>
    @foreach (var item in Model.SettingsContainer.Handlers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
        </tr>
    }
</table>
