@model ImageServiceWeb.Models.SettingsModel

@{
    ViewBag.Title = "Config";

}

<h2>Configuration</h2>
<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SettingsContainer.OutputDir)
        </th>
        <td>@Html.DisplayFor(model => model.SettingsContainer.OutputDir)</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SettingsContainer.SourceName)
        </th>
        <td>@Html.DisplayFor(model => model.SettingsContainer.SourceName)</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SettingsContainer.LogName)
        </th>
        <td>@Html.DisplayFor(model => model.SettingsContainer.LogName)</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SettingsContainer.ThumbnailSize)
        </th>
        <td>@Html.DisplayFor(model => model.SettingsContainer.ThumbnailSize)</td>
    </tr>
</table>

<div class="list-group">
    <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.SettingsContainer.Handlers)</strong></li>
    @foreach (var item in Model.SettingsContainer.Handlers)
    {
        <a href="@Url.Action("RemoveHandler", "Home", new { handler = @item })" class="list-group-item list-group-item-action">@Html.DisplayFor(modelItem => item)</a>
    }
</div>






















